@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.head__container {
  max-width: 1140px;
  min-width: 325px;
  width: 90%;
}

.head__container__nav {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__container__nav img {
  height: 35px;
}

.head__container__nav button {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  font-size: 0.875em;
  width: 120px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid #ff52bf;
  color: #ff52bf;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  -webkit-box-shadow: rgba(0, 37, 46, 0.05) 1px -1px 0px 2px;
          box-shadow: rgba(0, 37, 46, 0.05) 1px -1px 0px 2px;
}

.head__container__section {
  margin: 150px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.head__container__section > h1 {
  color: #00252e;
  font-family: "poppins", sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 15px;
}

.head__container__section > p {
  max-width: 55ch;
  font-family: "open sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #00252e;
  text-align: center;
}

.head__container__section > button {
  margin: 35px 0;
  font-family: "open sans", sans-serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 330px;
  height: 65px;
  border-radius: 50px;
  border: none;
  background: #ff52bf;
  color: #f5faff;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  -webkit-box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
          box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
}

.head__container__section > img {
  margin: 50px 0 100px 0;
  width: 76%;
  -o-object-fit: cover;
     object-fit: cover;
}

.head__container__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.head__container__data > div:first-child {
  margin-left: 30px;
}

.head__container__data > div:last-child {
  margin-right: 30px;
}

.head__container__data img {
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}

.head__container__data h2 {
  font-family: "open sans", sans-serif;
  font-size: 5em;
  color: #00252e;
}

.head__container__data p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: "open sans", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
}

@media screen and (max-width: 950px) {
  .head__container__nav {
    height: 80px;
  }
  .head__container__nav img {
    height: 25%;
  }
  .head__container__nav button {
    font-weight: 600;
    font-size: 0.75em;
    width: 100px;
    height: 30px;
    border-radius: 50px;
  }
  .head__container__section {
    margin: 100px 0 0 0;
  }
  .head__container__section h1 {
    line-height: 1.3;
    width: 21ch;
    font-size: 2em;
  }
}

@media screen and (max-width: 650px) {
  .head__container__section {
    margin: 100px 0 0 0;
  }
  .head__container__section h1 {
    line-height: 1.3;
    width: 21ch;
    font-size: 1.5em;
  }
  .head__container__section p {
    width: 80%;
    font-size: 0.875em;
  }
  .head__container__section button {
    font-size: 0.875em;
    font-weight: 700;
    width: 250px;
    height: 55px;
    -webkit-box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
            box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
  }
  .head__container__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .head__container__data > div:first-child {
    margin: 0 0 120px 0;
  }
  .head__container__data > div:last-child {
    margin: 0;
  }
}

main {
  width: 100%;
}

main h3 {
  margin: 100px 0 25px 0;
  font-family: "Poppins", sans-serif;
  color: #00252e;
  font-size: 2.25em;
  line-height: 1.2;
}

main p {
  font-family: "open sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #00252e;
  max-width: 60ch;
}

.body_container_1 {
  width: 100%;
}

.body_container_1 > section {
  padding: 50px 0;
  width: 100%;
  background: #f5faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body_container_1 > section > div {
  max-width: 1140px;
  min-width: 325px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body_container_1 > section > div > div:first-child {
  margin-left: 50px;
}

.body_container_middle {
  margin: 80px 0;
  width: 100%;
}

.body_container_middle > section {
  padding: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body_container_middle > section > div {
  max-width: 1140px;
  min-width: 325px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body_container_middle > section > div > div:first-child {
  margin-right: 50px;
}

.illustration {
  max-height: 370px;
  -o-object-fit: contain;
     object-fit: contain;
}

.end_body {
  padding: 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end_body h2 {
  text-align: center;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 2.25em;
}

.end_body button {
  margin: 35px 0;
  font-family: "open sans", sans-serif;
  font-size: 0.9375em;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 330px;
  height: 65px;
  border-radius: 50px;
  border: none;
  background: #ff52bf;
  color: #f5faff;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  -webkit-box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
          box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
}

@media screen and (max-width: 900px) {
  .illustration {
    max-height: initial;
    width: 80%;
  }
  main h3 {
    text-align: center;
  }
  main p {
    text-align: center;
  }
  .body_container_1 {
    width: 100%;
  }
  .body_container_1 > section {
    padding: 80px 0;
  }
  .body_container_1 > section > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body_container_1 > section > div > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .body_container_1 > section > div > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body_container_middle > section {
    padding: 80px 0;
  }
  .body_container_middle > section > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body_container_middle > section > div > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .body_container_middle > section > div > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .end_body h2 {
    line-height: 1.3;
    font-size: 1.5em;
    font-weight: 700;
    width: 20ch;
  }
  .end_body button {
    font-size: 0.875em;
    font-weight: 700;
    width: 250px;
    height: 55px;
    -webkit-box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
            box-shadow: rgba(0, 37, 46, 0.1) 0px 4px 4px 1px;
  }
}

@media screen and (max-width: 480px) {
  main h3 {
    margin: 100px 0 15px 0;
    font-size: 1.5em;
  }
  main p {
    width: 90%;
    font-size: 0.9375em;
    max-width: initial;
  }
}

footer {
  padding: 100px 0;
  background: #00252e;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  min-width: 325px;
  width: 90%;
  line-height: 2;
}

.foot__container__contact {
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  font-size: 0.8125em;
  color: #f5faff;
}

.foot__container__contact > p {
  margin: 25px 0;
  width: 40ch;
}

.foot__container__contact > div {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot__container__contact > div img {
  margin: 0 20px 0 5px;
}

.foot__container__contact .social_icon {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot__container__contact .social_icon img {
  width: 30px;
  margin-right: 15px;
}

.foot__container__submit {
  color: #f5faff;
  font-family: "Open sans", sans-serif;
}

.foot__container__submit h1 {
  font-size: 1.75em;
  text-transform: uppercase;
}

.foot__container__submit p {
  margin: 15px 0 35px 0;
  font-size: 0.8125em;
  font-weight: 600;
  max-width: 43ch;
}

.foot__container__submit form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot__container__submit form > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot__container__submit form > div #alert {
  opacity: 0;
  position: absolute;
  font-size: 0.75em;
  bottom: -32px;
  color: #ff4242;
  margin: 3px 0 0 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.foot__container__submit form input {
  padding: 0 10px;
  font-size: 0.875em;
  font-family: "Open sans", sans-serif;
  border: 2px solid transparent;
  width: 320px;
  height: 40px;
  border-radius: 5px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.foot__container__submit form button {
  margin-left: 35px;
  background: #ff52bf;
  color: #f5faff;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 0.8125em;
  letter-spacing: 0.5px;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

@media screen and (max-width: 900px) {
  .foot__container__submit > form {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot__container__submit > form button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  footer {
    padding: 100px 0 50px 0;
  }
  .foot__container {
    width: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .foot__container__contact {
    margin-top: 80px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

* *:focus {
  outline: none;
}

.curve_desktop {
  width: 100%;
}

.curve_mobile {
  display: none;
  width: 100%;
}

.curve_mobile.top,
.curve_desktop.top {
  margin-bottom: -5px;
}

@media screen and (max-width: 650px) {
  .curve_desktop {
    display: none;
  }
  .curve_mobile {
    display: initial;
  }
}

@media (hover: hover) {
  .head__container__nav > button:hover {
    color: #ff8fd8;
    border: 1px solid #ff8fd8;
  }
  .head__container__section > button:hover {
    background: #ff8fd8;
  }
  .end_body > button:hover {
    background: #ff8fd8;
  }
  .foot__container__submit > div > button:hover {
    background: #ff8fd8;
  }
}
/*# sourceMappingURL=main.css.map */