footer {
    padding: 100px 0;
    background: $Very_Dark_Cyan;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot__container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px; min-width: 325px;
    width: 90%;
    line-height: 2;
    &__contact {
        font-family: "Open sans", sans-serif;
        font-weight: 600;
        font-size: 0.8125em;
        color: $Very_Pale_Blue;
        & > p {
            margin: 25px 0;
            width: 40ch;
        }
        & > div {
            margin: 20px 0;
            display: flex;
            img {
                margin: 0 20px 0 5px;
            }
        }
        .social_icon {
            margin-top: 70px;
            display: flex;
            img {
                width: 30px;
                margin-right: 15px;
            }
        }
    }
    &__submit {
        color: $Very_Pale_Blue;
        font-family: "Open sans", sans-serif;
        h1 {
            font-size: 1.75em;
            text-transform: uppercase;
        }
        p {
            margin: 15px 0 35px 0;
            font-size: 0.8125em;
            font-weight: 600;
            max-width: 43ch;
        }
        div {
            display: flex;
            > div {
                position: relative;
                display: flex;
                flex-direction: column;
                #alert {
                    opacity: 0;
                    position: absolute;
                    font-size: 0.75em;
                    bottom: -32px;
                    color: $Light_Red;
                    margin: 3px 0 0 0;
                    transition: 200ms ease-in-out;
                }
            }
            input {
                padding: 0 10px;
                font-size: 0.875em;
                font-family: "Open sans", sans-serif;
                border: 2px solid transparent;
                width: 320px; height: 40px;
                border-radius: 5px;
                transition: 300ms ease;
            }
            button {
                margin-left: 35px;
                background: $Pink;
                color: $Very_Pale_Blue;
                font-family: "Open sans", sans-serif;
                font-weight: 700;
                font-size: 0.8125em;
                letter-spacing: 0.5px;
                width: 140px; height: 40px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 200ms ease;

            }
        }
    }
}

@media screen and (max-width: 900px) {
    .foot__container__submit {
        & > div {
            width: max-content;
            flex-direction: column;
            button {
                align-self: flex-end;
                margin: 15px 0 0 0;
            }
        }
    }
    
}

@media screen and (max-width: 700px) {
    .foot__container {
        width: initial;
        flex-direction: column-reverse;
        &__contact {
            margin-top: 80px;
        }
    }
    
}