header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.head__container {
    max-width: 1140px; min-width: 325px;
    width: 90%;
    &__nav {
        width: 100%; height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            height: 35px;
        }
        button {
            font-family: "open sans", sans-serif;
            font-weight: 600;
            font-size: 0.875em;
            width: 120px; height: 35px;
            border-radius: 50px;
            border: 1px solid $Pink;
            color: $Pink;
            background: transparent;
            cursor: pointer;
            transition: 200ms ease;
            box-shadow: rgba(0, 37, 46, 0.05) 1px -1px 0px 2px;
        }
    }
    &__section {
        margin: 150px 0 0 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        & > h1 {
            color: $Very_Dark_Cyan;
            font-family: "poppins", sans-serif;
            font-size: 2.5em;
            text-align: center;
            margin-bottom: 15px;
        }
        & > p {
            max-width: 55ch;
            font-family: "open sans", sans-serif;
            font-size: 1em;
            font-weight: 600;
            color: $Very_Dark_Cyan;
            text-align: center;
        }
        & > button {
            margin: 35px 0;
            font-family: "open sans", sans-serif;
            font-size: 0.9375em;
            font-weight: 700;
            letter-spacing: 0.5px;
            width: 330px; height: 65px;
            border-radius: 50px;
            border: none;
            background: $Pink;
            color: $Very_Pale_Blue;
            cursor: pointer;
            transition: 200ms ease;
            @include dropShadow;
        }
        & > img {
            margin: 50px 0 100px 0;
            width: 76%;
            object-fit: cover;
        }
    }
    &__data {
        display: flex;
        width: 100%;
        justify-content: space-around;
        & > div:first-child { margin-left: 30px; }
        & > div:last-child { margin-right: 30px; }
        img {
            width: 45px;
            object-fit: cover;
        }
        h1 {
            font-family: "open sans", sans-serif;
            font-size: 5em;
            color: $Very_Dark_Cyan;
        }
        p {
            text-align: center;
            color: rgba(black, 0.5);
            font-family: "open sans", sans-serif;
            font-size: 1.125em;
            font-weight: 700;

        }
    }
}

@media screen and (max-width: 950px) {
    .head__container {
        &__nav {
            height: 80px;
            img {
                height: 25%;
            }
            button {
                font-weight: 600;
                font-size: 0.75em;
                width: 100px; height: 30px;
                border-radius: 50px;
            }
        }
        &__section {
            margin: 100px 0 0 0;
            h1 {
                line-height: 1.3;
                width: 21ch;
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .head__container {

        &__section {
            margin: 100px 0 0 0;
            h1 {
                line-height: 1.3;
                width: 21ch;
                font-size: 1.5em;
            }
            p {
                width: 80%;
                font-size: 0.875em;
            }
            button {
                font-size: 0.875em;
                font-weight: 700;
                width: 250px; height: 55px;
                @include dropShadow;
            }
        }
        &__data {
            flex-direction: column;
            align-items: center;
            justify-content: initial;
            & > div:first-child { margin: 0 0 120px 0; }
            & > div:last-child { margin: 0; }
        }
    }
}